body{
    margin: 0;
    padding: 0;
    color: #40514e;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #f9fcfb;
 
}

h1{
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 0px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3, a{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

.container-top{
    background-color: aliceblue;
    position: relative; 

}


.middle-container{
    margin: 100px 0;
}


.profile img{
    width: 10%;
    border-radius: 50%;
    padding-top: 30px;
}


.pr{
    text-decoration: none;
}


.top-cloud{
    position: absolute;
    right: 50px;
    top: left;
}


.bottom-cloud{
    position: absolute;
    left: 50px;
    top: right;
}



/***********************/

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img-right{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-img-left{
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted;   
    border-width: 5px;
    border-color: grey;
    width: 2.5%;
         
}


/**
.skill-clear-right{
    clear: left;
}

.skill-clear-left{
    clear: right;
}
**/


/*Footer*/

.bottom-container{
    height: 100px;
    background-color: #4a69bb;
    margin-top: 80px;
    padding-top: 30px;
}


.footer-link{
text-decoration: none;
font-weight: 600;
font-size: 15px;
text-transform: uppercase;
color: black;
margin-right: 10px;
transition: 0.5s ease-in-out;

}


.footer-link:hover{
    color: #f9fcfb;
}


.btn{
   background-color: #11999E;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   color: #66BFBF;
   padding: 5px 24px;
   border: none;
   border-radius: 3px;
   display: inline-block;
   font-size: 16px;
   transition: 0.5s ease-in-out;
}



.btn:hover {
  color: #f9fcfb;
}